* {
  box-sizing: border-box;
}

.body1 {
  margin-right: 200px;
	margin-left: 200px;
  font-family: Arial, Helvetica, sans-serif;
}

.header1 {
  background-color: white;
  color: white;
  padding:45px;
  height:20%;
  border-style: solid;
  border-color: #2FBCBC;
  border-width: 2px;
}

.article1 {
 float: left;
 width: 100%;
 background-color: #2FBCBC;
 height:auto;
}


/* Style the footer */
.footer1 {
  background-color: #2FBCBC;
  padding: 80px;
  text-align: center;
  color: white;
}

.headerbutton{
  float: right;
  background-color: white;
  border: none;
  color: #23807E;
  text-align: center;
  display: inline-block;
  font-size: 23px;
  cursor: pointer;  
  margin:0px 5px 0 10px;
}
.headerbutton2{
  background-color: white;
  float: right;
  border: none;
  color: #23807E;
  text-align: center;
  display: inline-block;
  font-size: 23px; 
  margin:0px 5px 0 10px;
}

.btn{
  position: relative;
  bottom:150px;
  float: right;
  text-align:right;
}

.createbutton{
  border-radius: 50px;
  background-color: #23807E;
  border: solid #23807E;
  color: #D8D8D8;
  text-align: center;
  font-size: 30px;
  padding: 25px 60px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 10px;
  font-weight:bold;
  width:auto;
}

.createbutton2{
  border-radius: 50px;
  background-color:#D8D8D8;
  border: solid #23807E;
  color: #23807E;
  text-align: center;
  font-size: 30px;
  padding:25px 50px;
  width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 10px;
  font-weight:bold;
  width:auto;
}

.slider {
  position: relative;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  display: block;
  height: 89.5vh;
  width: 77.5vw;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 7px;
  font-size: 3rem;
  color: rgb(255, 255, 255,0.4);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 7px;
  font-size: 3rem;
  color: rgb(255, 255, 255,0.4);
  z-index: 10;
  cursor: pointer;
  user-select: none;
}
.right-arrow:hover, .left-arrow:hover {
  color: rgba(0,0,0,0.4);
}

.slide {
  transition-duration: 1s ease;
}

.slide.active {
  transition-duration: 1s;
}

.container {
  padding: 35px;
  text-align: center;
}

.logininput {
  width: 28%;
  padding: 10px 5px;
  margin: 10px 0;
  font-size: 25px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginbutton{
  background-color: #ffffff;
  border-radius: 40px;
  color: #696969;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 40px;
  margin: 10px 40px;
  border: none;
  cursor: pointer;
}

.loginbutton:hover{
  opacity: 0.8;
}

.cancelbtn {
  background-color: #23807E;
  border-radius: 40px;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
  padding: 10px 40px;
  margin: 8px 30px;
  border: none;
  cursor: pointer;

}

.cancelbtn:hover {
  opacity: 0.8;
}

.containerregister{
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.practitionerbutton{
  border-radius: 25px;
  background-color:#D8D8D8;
  border: solid #23807E;
  color: #23807E;
  text-align: center;
  font-size: 20px;
  padding:12px 25px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 15px;
  font-weight:bold;
  width:auto;
}
.practitionerbutton:hover{
  background-color:#23807E;
  color: #D8D8D8;
}

.sidenav{
  background-color: #23807E;;
  color: white;
  height: 100%;
  width: 100%;
  text-align: center;
  position: relative;
}

.headerhome{
  background-color: white;
  color: white;
  padding: 40px 20px;
  height: 20%;
  width: 98%;
  margin: 0 8px;
  border-style: solid;
  border-color: #2FBCBC;
  border-width: 2px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.8);
  position: relative;
}

.tablinks{
  background-color: #23807E;
  border: none;
  color: #BCE3E3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  padding: 14px 60px;
  width: 100%;
  height: 10%;
  font-weight: bold;
}
.tablinks.active {
background-color: #BCE3E3;
color:#23807E;
}

.linehr{
  border: 3px solid;
  color: white;
  width: 70%;
  text-align:center;
  margin: 0 60px;
}

.imgalign{
  padding-top: 40px;
  padding-bottom: 60px;
}


.homearticle {
  background-color:white;
  height: 100%;
  width: 97%;
}

.clientpage {
  background-color:white;
  height: 100%;
  width: 100%;
}


.headname{
  margin-top: 40px;
  padding: 20px;
  padding-left:40px;
  font-size:50px;
  background-color: #BCE3E3;
  color: #424242;
  font-weight: bold;
}

.headersearch{
  background-color: #D8D8D8;
  padding: 150px 50px 0 50px;
  color: white;
  text-align: center;
  height:100%;
}

.dashboardtext{
  color: #23807E;
  font-size:25px;
  padding-top:30px;
  padding-bottom:10px;
  font-weight: bold;
  letter-spacing: 2px;
}


.plusbutton{
  background-color: white;
  border: none;
  color: #23807E;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
  float: right; 
}

.listbutton{
  margin-top: 20px;
  background-color: #BCE3E3;
  padding: 40px  40px;
  text-decoration: none;
  font-size: 25px;
  color: #636262;
  display: block;
  list-style-type: none;
  width: 100%;
  border-style: none;
}

.addbutton{
  background-color: #23807E;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 25px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 10px 2px;
  cursor: pointer;
  font-weight: bold;
}

.myInput {
  background-position: right;
  background-repeat: no-repeat;
  background-color: white;
  background-image: url('https://www.freeiconspng.com/thumbs/search-icon-png/search-icon-png-2.png');
  background-size: 30px 30px;
  width: 100%;
  font-size: 25px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-top: 20px;
  border-radius: 15px;
}
.sortname{
  color: #23807E;
  font-size:25px;
  padding-top:30px;
  padding-bottom:10px;
  font-weight: bold;
  text-align: center;
}

.sortbutton{
  border-radius: 25px;
  border: 3px solid #636262;
  background-color: #f6f6f6;
  padding: 40px 10px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
  width:97%;
  font-weight: bold;
  cursor: pointer;
}

.infomodal{
  margin: 20px 0px;
  padding: 10px;
  font-size: 20px;
  background-color: #BCE3E3;
  color: #424242;
  font-weight: bold;
  text-align: center;
}

.infobutton{
  background-color: #23807E;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  font-weight: bold;
}

.headerclient{
  background-color: #23807E;
  color: white;
  padding: 10px;
  height: 20%;
  width: 100%;
  margin: 0 8px;
  border-style: solid;
  border-color: #2FBCBC;
  border-width: 2px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.8);
  position: relative;
  margin-top: 20px;
}

.clientbutton{
  background-color: #23807E;
  border: solid;
  border-color: #2FBCBC;
  border-width: 2px;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  padding: 14px 40px;
  width: 100%;
  height: 10%;
  font-weight: bold;
}

.infocontainer{
  border: solid;
  border-color: black;
  border-width: 3px;
  margin-left: 12px;
  height: 85vh;
  padding: 30px;
  background-color: #ebebeb;
}

.infotext{
  font-size: 40px;
  font-weight: bold;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article, .image, .slider {
    width: 100%;
    height: auto;
  }
}